# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
carla
numpy
jupyterlab
pygame
opencv-python
networkx
simple-pid
matplotlib